@import "assets/theme/sizes.scss";

.no-items {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.employee-list {
  &__header {
    th {
      @include l-medium;
      text-transform: uppercase;
    }
  }

  td {
    @include p-regular;
    div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .actions-cell {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.dropdown {
  display: flex;
  justify-content: center;

  button {
    background: #f1f2f3 !important;
  }
}

.pagination-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 23px;
}
