@import "assets/theme/sizes.scss";

.employee-list {
  &__header {
    th {
      @include l-medium;
    }
  }

  td {
    @include p-regular;
    div {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .actions-cell {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.footer-list {
  display: flex;
  width: 100%;
  justify-content: center;
}
