.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 20px;
  background: #ffffff;
  box-shadow: 5px 5px 30px rgba(181, 181, 195, 0.4);
  border-radius: 4px;
  overflow: auto;
}
