.card {
  width: 95%;
  max-width: 800px;
  .filter-form {
    width: 100%;
    &__input-button-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px 15px;
      gap: 16px;

      input {
        background: #ffffff;
        box-shadow: 0px 3px 10px rgba(216, 216, 216, 0.6);
        border-radius: 4px;
      }

      button {
        background-color: #0090ff;
      }
    }
  }
}

.place-holder-container {
  display: flex;
  flex-direction: row;
  padding: 9px 10px;
  gap: 10px;
}
